<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title></title>
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/searchResults.css">

	<!-- cordova script (this will be a 404 during development) -->
	<script src="cordova.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-youtube-embed.js"></script>

	<!-- your app's js -->
	<script src="js/app.js"></script>
	<script src="js/searchResults.js"></script>
	<script src="js/individualResult.js"></script>
	<script src="js/scripts.js"></script>
</head>
<body ng-app="yify">

	<!-- SECCION HOME -->

	<div ng-controller="searchResultsCtrl">

		<div class="">
			<p class="intro-text">Encuentra la película que estás buscando en Yify</p>
			<p>1. Escribe la película <br>2. Revisa los resultados <br>3. Da un toque a la película, baja el archivo .torrent para que puedas descargarla.</p>
		</div>

		</div>

		<div class="">
			<label class="">
				<input type="text" id="termino" ng-model="search.term" placeholder="Escribe el nombre de la película" name="termino" required />
			</label>
		</div>

		<div class="">
			<a href="#/search" ng-click="recibirTerminos(search.term);" class="">Buscar la película!</a>
		</div>
	</div>

 <!-- SECCION HOME -->

 <!-- SECCION RESULTADOS DE BUSQUEDA -->

	<button class="" ng-click="goBack()"> Atrás</button>


	<div ng-controller="searchResultsCtrl">
		<div class="" ng-show="errorData.error">
			<h3 class="error-msg">{{errorData.error}} :( </h3>
			<br>
			<button class="" ng-click="goBack()">¡Prueba otra vez!</button>
		</div>
	</div>


	<div ng-repeat="result in resultMovies" class="bg">
		<div class="" ng-controller="IndividualCtrl">

			<div class="">
				<a href="#/individual" ng-click="recibirId(result.MovieID);">
					<div class="box-image">
						<img ng-src="{{result.CoverImage}}" />
					</div>
				</a>
			</div>

			<div class="">
				<section class="description">
					<a href="#/individual" ng-click="recibirId(result.MovieID);">
						<h3>{{result.MovieTitle}}</h3>
						<p class="genero">#{{result.Genre}}</p>
						<p>Quality: {{result.Quality}}</p>
						<p>Size: {{result.Size}}</p>
					</a>
				</section>
			</div>

		</div>

	</div>


 <!-- SECCION RESULTADOS DE BUSQUEDA -->

 <!-- SECCION DE RESULTADO INDIVIDUAL -->


	<button ng-click="goBack()" class="button ion-chevron-left"> Atrás</button>


	<div class=" movieData">
		<div class="movieTitle">{{movieData.MovieTitle}}</div>
		<div class="movieInfo">
			<div>Calidad: <strong>{{movieData.Quality}}</strong></div>
			<div>Idioma: <strong>{{movieData.Language}}</strong></div>
			<div>Tamaño: <strong>{{movieData.Size}}</strong></div>
			<div>Géneros:</div>
			<div class="movieGenre movieGenre1">{{movieData.Genre1}}</div>
			<div class="movieGenre movieGenre2">{{movieData.Genre2}}</div>
		</div>
	</div>

	<div class=" movieImage">
		<img src="{{movieData.LargeCover}}">
	</div>

	<div class="">
		<button id="show">Ver trailer</button>
		<div class="hide-show">
		<youtube-video video-id="theBestVideo"></youtube-video>
		</div>
	</div>

	<div class="">
		<div class=" movieDescription">{{movieData.LongDescription}}</div>
	</div>
	<div class="">
		<div class="">
			<a href="javascript:void(0)" ng-click="openUrl()" class="button button-block button-balanced">Descargar archivo torrent</a>
		</div>
	</div>



 <!-- SECCION DE RESULTADO INDIVIDUAL -->

</body>
</html>
