

    <button class="" ng-click="goBack()"> Atrás</button>


    <div ng-controller="searchResultsCtrl">
        <div class="" ng-show="errorData.error">
            <h3 class="error-msg">{{errorData.error}} :( </h3>
            <br>
            <button class="" ng-click="goBack()">¡Prueba otra vez!</button>
        </div>
    </div>

  
        <div ng-repeat="result in resultMovies" class="bg">
            <div class="" ng-controller="IndividualCtrl">

                <div class="">
                    <a href="#/individual" ng-click="recibirId(result.MovieID);">
                        <div class="box-image">
                            <img ng-src="{{result.CoverImage}}" />
                        </div>
                    </a>
                </div>

                <div class="">
                    <section class="description">
                        <a href="#/individual" ng-click="recibirId(result.MovieID);">
                            <h3>{{result.MovieTitle}}</h3>
                            <p class="genero">#{{result.Genre}}</p>
                            <p>Quality: {{result.Quality}}</p>
                            <p>Size: {{result.Size}}</p>
                        </a>
                    </section>
                </div>

            </div>

        </div>